
.row {
    text-align: center;
    background-color: rgb(202, 114, 5);
    color: aliceblue;
}

.kontak {
    text-align: center;
    background-color: rgb(204, 202, 198);
    color: rgb(0, 0, 0);
}

